/* See basic example at <https://github.com/catppuccin/waybar>. */
@import "catppuccin.css";

* {
  background: @base;
  color: @text;
  font-family: Fira Sans, OpenMoji, Hermit;
  font-size: 1em;
  border-radius: 0;
  border: none;
}

tooltip {
  background: @surface0;
  border: 2px solid @surface2;
}

label.module {
  padding: 5px;
  margin: 0;
  background: transparent;
  border-top: 3px solid transparent;
}
box.module {
  margin: 0 5px;  /* vertical, then horizontal */
  padding: 0;
  background: transparent;
}

#workspaces button {
  padding: 0;
  background: transparent;
  border-top: 3px solid transparent;
}
#workspaces button.urgent {
  border-top: 3px solid @yellow;
}
#workspaces button.focused {
  border-top: 3px solid @blue;
}

#mode {
  color: @red;
  border-top: 3px solid @red;
}

#temperature {
  border-top: 3px solid transparent;
}
#temperature.critical {
  border-top: 3px solid @red;
}

#pulseaudio {
  border-top: 3px solid @red;
}
#pulseaudio.bluetooth {
  border-top: 3px solid @blue;
}
#pulseaudio.muted {
  border-top: 3px solid transparent;
}

#battery {
  border-top: 3px solid @green;
}
#battery.discharging.medium {
  border-top: 3px solid transparent;
}
#battery.discharging.critical {
  border-top: 3px solid @red;
}

#custom-dunst {
  border-top: 3px solid @red;
}

#custom-separator {
  color: @overlay2;
  padding: 5px 3px;
}
